/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #2081c3;
    padding: 20px;
    box-shadow: 0 2px 4px 0 #181616;
    position: sticky;
    top: 0;
}

.navbar a{
    color: #f7f9f9;
    text-decoration: none;
    margin-left: 20px;  
    
}

body div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

body div a {
    text-decoration: none;
    border: 1px solid rgb(247, 241, 241);
    background-color: #2081c3;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    
}

ul{
    list-style-type: none;
    padding: 20px;
}

li{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin-top: 60px;
    width: 350px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #0a2c42;
    color: white;
    padding: 15px;
    margin-top: auto;
    position:absolute;
    bottom:0;
    position: sticky;
    bottom: 0;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin: 0px 80px;
    /*width: 75%;*/
    
}

.beers {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.random {
    height: 700px;
}

.random img {
    width: 70px;
    position: relative;
    top: 80px;
    left: 100px;
}

.cards div h3{
    width: 100%;
    margin-bottom: 10px;
}

.cards div img{
   width: 60px;
}

.cards div p {
    width: 100%;
    font-size: small;
}

.cards div .tagline {
    color: #bfbfbf;
    font-size: small;
    margin-top: 0;
}
